#index {  
    border: 1px solid #000000;  
}

.menu {
    position: absolute;
    top: 83px;
    right: 20px;
    width: 700px;
    height: 800px;
    border: 1px solid #000000;
    text-align: center;
}

.button {
    border: 1px solid #000000;
    color: #000000;
    background-color: #cae9e4;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #546e32;
    font-weight: bold;
}

.select {
    width: 60px;
    height: 30px;
    margin-left: 3px;
    margin-right: 7px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    width: 1600px;
    height: 800px;
}

.container {
    display: flex;
}

.entry {
    display: flex;
}

.inner-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-right: 1px solid #000000;
    margin-bottom: 20px;
}

.inner-container-no-border {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.checkbox {
    margin-left: 40px;
}

